/* Sass commands for auto-compilation:
 * 
 * sass --watch index.scss:index.min.css --style compressed
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

html {
    font-family: 'Open Sans';
    font-weight: 300;

    body {
        /* Full-screen landing image */
        .background-image {
            background: url(../images/engagement.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            display: block;
            height: 800px;
            left: 0;
            position: fixed;
            right: 0;
            z-index: -2;
        }

        h1.page-title {
            color: #FFFFFF;
            font-family: 'Open Sans';
            font-size: 8vw;
            font-weight: 300;
            margin: 0;
        }

        p.page-subtitle {
            font-family: 'Open Sans';
            font-size: 3vw;
            font-weight: 300;
            margin: 0;
        }

        h2.section-title {
            font-family: 'Open Sans';
            font-size: 6vw;
            font-weight: 300;            
            margin: 0;
            padding: 20px 10px 0 10px;
            text-align: center;
        }

        section {
            &:not(.welcome-section) {
                background-color: #FFFFFF;
            }

            &.welcome-section {
                height: 100vh;

                .page-description-container {
                    padding-right: 10px;
                    position: fixed;
                    right: 0;
                    z-index: -1;

                    .page-title {
                        font-size: 5vw;
                        float: right;
                    }

                    .page-subtitle {
                        font-size: 3vw;
                        float: right;
                        text-align: right;
                        width: 100%;
                    }
                }
            }

            &.countdown-section {
                padding: 30px 0 50px;
                text-align: center;

                .countdown-container {
                    color: #FFFFFF;
                    font-family: 'Open Sans';
                    font-size: 30px;
                    margin-top: 30px;
                    text-align: center;

                    & > div {
                        background: #BBBBBB;
                        display: inline-block;
                        padding: 10px;
                        width: 110px;

                        & > span {
                            background: #BBBBBB;
                            display: inline-block;
                            padding: 15px;
                        }
                    }

                    .smalltext {
                        padding-top: 5px;
                        font-size: 16px;
                    }
                }

                .deadline {
                    font-style: italic;
                    padding-top: 10px;
                }
            }

            &.our-story-section {
                height: 800px;
            }

            &.bridal-party-section {
                height: 800px;
            }

            &.registry-section {
                background: url(../images/band-02.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                color: #EEEEEE;
                height: 800px;                

                .black-transparent {
                    background-color: rgba(0, 0, 0, 0.8);
                }

                .band-name {
                    padding-top: 30vw;
                    text-align: center;

                    h3 {
                        font-family: 'Open Sans';
                        font-weight: 300;
                        margin: 0;
                    }
                }

                img {
                    color: #EEEEEE;
                    height: 64px;
                    width: 64px;
                }
            }

            &.rsvp-section {
                height: 800px;
            }

            &.location-section {
                // Offset by navbar height
                margin-bottom: 50px;
                text-align: center;

                .section-title {
                    color: #BB2222;
                    font-size: 3vw;
                    padding: 20px;
                }

                .google-map {
                    height: 380px;
                    width: 100%;
                }

                .address {
                    padding: 20px 0;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

/* Center the navbar links */
nav {
    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 580px) {
    html > body {

        section.musician-section {
            .about-the-band {
                margin: 0;

                .music-player {
                    padding: 0;
                }

                .cdbaby-player-container {
                    margin: 0 auto;
                }
                
                .band-links-container {
                    margin: 0 auto;

                    .band-links {
                        max-width: 400px;

                        .band-link {
                            width: 133px;
                            height: 133px;

                            img {
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }

        section.videography-section .wedding-videos {

            /* Give arrow buttons more room */
            .video-playlist-container {
                height: 165px;
            }

            /* Hide arrow buttons and show scroll help */
            .arrows {
                .scroll-help {
                    display: block;
                }

                .arrow {
                    display: none;
                }
            }
        }
    }
}