/* Sass commands for auto-compilation:
 * 
 * sass --watch index.scss:index.min.css --style compressed
 */

html {
    font-family: 'Open Sans';
    font-weight: 300;

    hr {
        margin: 0;
        height: 1px;
        background: black;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
    }

    body {
        /* Full-screen landing image */
        .background-image {
            background: url(../images/engagement.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            display: block;
            height: 800px;
            left: 0;
            position: fixed;
            right: 0;
            z-index: -2;

            // &.blur {
            //     filter: blur(5px);
            //     -webkit-filter: blur(5px);
            // }
        }
        
        h1.page-title {
            color: #FFFFFF;
            font-family: 'Open Sans';
            font-size: 8vw;
            font-weight: 300;
            margin: 0;
        }

        p.page-subtitle {
            font-family: 'Open Sans';
            font-size: 3vw;
            font-weight: 300;
            margin: 0;
        }

        h2.section-title {
            font-family: 'Open Sans';
            font-size: 6vw;
            font-weight: 300;
            margin: 0;
        }

        section {
            &:not(.welcome-section) {
                background-color: #FFFFFF;
            }

            &.welcome-section {
                height: 800px;

                .page-description-container {
                    padding-right: 10px;
                    position: fixed;
                    z-index: -1;

                    .page-title {
                        font-size: 8vw;
                        float: right;
                    }

                    .page-subtitle {
                        font-size: 3vw;
                        float: right;
                    }
                }
            }

            &.experience-section {
                height: 800px;
            }

            &.interests-section  {
                height: 800px;
            }

            &.connect-section {
                // Offset by navbar height
                margin-bottom: 50px;
                text-align: center;

                .section-title {
                    color: #BB2222;
                    font-size: 3vw;
                    padding: 20px;
                }

                .google-map {
                    height: 380px;
                    width: 100%;
                }
                .contact-icons {
                    padding: 20px;

                    img {
                        -o-transition:.2s;
                        -ms-transition:.2s;
                        -moz-transition:.2s;
                        -webkit-transition:.2s;
                        transition:.2s;

                        opacity: 0.5;
                        height: 48px;
                        width: 48px;
                    }

                    img:hover {
                        cursor: pointer;
                        opacity: 0.3;
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }
    }

    /* Center the navbar links */
    nav {
        .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
        }

        .navbar-collapse {
            text-align: center;
        }
    }
}